.login-content {
    position: relative;
    padding:15px;
    margin:15px;
    margin-bottom:25px;
    margin-top:-50px;
    background-color:#FFF;
    border-radius: 1rem;

    form {
        margin:auto;
        max-width: 350px;
    }

    &.min {
        margin-top:15px!important;
    }
}